.product {
    display: flex;
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #d3d3d3;
}
.product img { 
    margin-right: 10px;
}
.product-name {
    text-align: left;
    color: blue;
    font-weight: 400;
}
.btn-style-one {
        background-color: #f0c14b;
        border-color: #a88734 #9c7e31 #846a29;
        color: #111;
        width: 200px;
        height: 26px;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        border-radius: 3px;
        vertical-align: middle;
}